@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
  *:focus {
    outline: none; }

*::-webkit-input-placeholder {
  color: #c0c0c0;
  opacity: 1; }

*:-moz-placeholder {
  color: #c0c0c0;
  opacity: 1; }

*::-moz-placeholder {
  color: #c0c0c0;
  opacity: 1; }

*:-ms-input-placeholder {
  color: #c0c0c0;
  opacity: 1; }

body input:focus:required:invalid,
body textarea:focus:required:invalid {
  color: #000; }

body input:required:valid,
body textarea:required:valid {
  color: #000; }

html, body {
  height: 100%; }

body {
  font-size: 16px;
  min-width: 320px;
  position: relative;
  line-height: 1.65;
  font-family: "Noto Sans", sans-serif;
  overflow-x: hidden;
  opacity: 1; }

img {
  max-width: 100%; }

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto; }

#top_banner {
  background-image: url(../img/header/bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top; }

#header .container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 120px 0 140px 0; }
  #header .container .heading {
    font-size: 68px;
    font-weight: 700;
    color: #fff;
    text-align: center; }

#marketing {
  margin: 100px 0; }
  #marketing .blocks {
    padding: 30px; }
    #marketing .blocks .heading {
      position: absolute;
      left: 0;
      top: 3%;
      background-color: #00B6DD;
      padding: 6px 15px 8px 16px;
      color: #fff;
      text-transform: uppercase;
      font-size: 13px;
      font-weight: 700;
      line-height: 1.2; }
    #marketing .blocks .heading_dark {
      position: absolute;
      left: 0;
      top: 3%;
      background-color: #081580;
      padding: 6px 15px 8px 16px;
      color: #fff;
      text-transform: uppercase;
      font-size: 13px;
      font-weight: 700;
      line-height: 1.2; }
    #marketing .blocks .title {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      max-width: 300px; }
      #marketing .blocks .title .autor {
        font-size: 13px;
        font-weight: 400;
        color: #00B6DD;
        padding-top: 20px; }
      #marketing .blocks .title .head {
        font-size: 22px;
        font-weight: 400;
        line-height: 1.2;
        padding-top: 6px; }
      #marketing .blocks .title .descr {
        font-size: 16px;
        font-weight: 400;
        padding: 16px 0 30px 0; }

#footer {
  background-color: #000;
  padding: 100px 0; }
  #footer .blocks {
    padding: 30px;
    background-color: #fff;
    max-width: 360px; }
    #footer .blocks .cap {
      position: relative; }
      #footer .blocks .cap .heading {
        position: absolute;
        left: -11%;
        top: -8%;
        background-color: #00B6DD;
        padding: 6px 15px 8px 16px;
        color: #fff;
        text-transform: uppercase;
        font-size: 13px;
        font-weight: 700;
        line-height: 1.2; }
      #footer .blocks .cap .heading_dark {
        position: absolute;
        left: -11%;
        top: -8%;
        background-color: #081580;
        padding: 6px 15px 8px 16px;
        color: #fff;
        text-transform: uppercase;
        font-size: 13px;
        font-weight: 700;
        line-height: 1.2; }
      #footer .blocks .cap .title {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        max-width: 300px; }
        #footer .blocks .cap .title .autor {
          font-size: 13px;
          font-weight: 400;
          color: #00B6DD;
          padding-top: 20px; }
        #footer .blocks .cap .title .head {
          font-size: 22px;
          font-weight: 400;
          line-height: 1.2;
          padding-top: 6px; }
        #footer .blocks .cap .title .descr {
          font-size: 16px;
          font-weight: 400;
          padding: 16px 0 30px 0; }

.btn_simple {
  color: #fff;
  background-color: #00B6DD;
  border: 1px solid #00B6DD;
  font-weight: 700;
  padding: 6px 34px;
  transition: all 0.4s ease;
  text-decoration: none;
  cursor: pointer; }
  .btn_simple:hover {
    color: #000; }

.btn_dark {
  color: #fff;
  border: 1px solid #081580;
  background-color: #081580;
  font-weight: 700;
  padding: 6px 34px;
  transition: all 0.4s ease;
  text-decoration: none;
  cursor: pointer; }
  .btn_dark:hover {
    color: #fcf; }

.itc-slider {
  position: relative; }

.itc-slider__wrapper {
  overflow: hidden; }

.itc-slider__items {
  display: flex;
  transition: transform 0.5s ease;
  will-change: transform; }

.itc-slider__transition-none {
  transition: none; }

.itc-slider__item {
  flex: 0 0 33.3333333333%;
  max-width: 33.3333333333%;
  user-select: none; }

/* кнопки влево и вправо */
.itc-slider__btn {
  position: absolute;
  top: 105%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0);
  border: none;
  cursor: pointer;
  border-radius: 50%; }

.itc-slider__btn_hide {
  display: none; }

.itc-slider__btn_prev {
  left: 0%; }

.itc-slider__btn_next {
  left: 5%; }

.itc-slider__btn:hover,
.itc-slider__btn:focus {
  color: #fff;
  text-decoration: none;
  outline: 0; }

.itc-slider__btn::before {
  border-radius: 50%;
  padding: 26px 13px;
  content: "";
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  cursor: pointer; }

.itc-slider__btn_prev::before {
  background-image: url("../img/left_arrow.svg"); }

.itc-slider__btn_next::before {
  background-image: url("../img/right_arrow.svg"); }

/*# sourceMappingURL=main.css.map */
