/*==========  Desktop First  ========== */
/* Large Devices, Wide Screens */
/* line 5, ../sass/adaptive.sass */
#header .container .heading {
  font-size: 62px; }

/* Medium Devices, Desktops */
/* line 10, ../sass/adaptive.sass */
#header .container .heading {
  font-size: 54px; }

/* Small Devices, Tablets */
/* line 15, ../sass/adaptive.sass */
#header .container .heading {
  font-size: 46px; }

/* Extra Small Devices, Phones */
/* Custom, iPhone Retina */
/*==========  Mobile First  ========== */
/* Custom, iPhone Retina */
/* Extra Small Devices, Phones */
/* Small Devices, Tablets */
/* Medium Devices, Desktops */
/* Large Devices, Wide Screens */
